.container {
  display: flex;
  flex-direction: column;
}

.id {
  background-color: rgb(72, 102, 133);
  border: 2px solid;
  text-align: center;
}
.category {
  background-color: rgb(17, 104, 116);
  text-align: center;
}
.alcoholic {
  background-color: rgb(67, 51, 169);
  text-align: center;
}
.ins {
  background-color: rgb(135, 95, 64);
  text-align: center;
}
.glass {
  background-color: rgb(152, 69, 157);
  text-align: center;
}

.ing {
  background-color: dimgray;
  text-align: center;
}
h1 {
  color: rgb(186, 124, 54);
}

div {
  border-radius: 20px;
}
.title {
  text-align: center;
  font-size: 60px;
  color: rgb(22, 250, 254);
}
body {
  background-color: skyblue;
}
